.footer {
    margin-top: 7rem;
    text-align: center;
    background-color: var(--cor-fundo-header-footer);
}

.footer .container {
    padding: 2rem 0;
    
}

.footer .container h2 {
    text-transform: uppercase;
}

.footer h2 {
    font-family: var(--fonte-secundaria);
    font-size: var(--fonte-normal);
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.container .local {
    margin-top: 20px;
}