.sobre-mim .imagem-sobre-mim {    
    max-width: 40%;
    padding: 0 15px;
}

.sobre-mim .imagem-sobre-mim img {
    border-radius: 10px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.sobre-mim .informacoes-sobre-mim {    
    max-width: 60%;
    padding: 0 25px;   
}

.sobre-mim .informacoes-sobre-mim .botoes {
    margin-top: 25px;
}

.sobre-mim .informacoes-sobre-mim p {
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 20px;
}

@media(max-width: 980px) { 
    .sobre-mim .row{
        justify-content: center;
    }

    .sobre-mim .imagem-sobre-mim {        
        max-width: 100%;
        padding:  var(--mobile-padding);
        margin-bottom: 50px;
    }

    .sobre-mim .informacoes-sobre-mim {  
        padding:  var(--mobile-padding);
        text-align: center;
    }

    .sobre-mim .imagem-sobre-mim .inner-shadow {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}

@media(max-width:768px){
    .sobre-mim .informacoes-sobre-mim {  
        max-width: 100%;                   
    }
}